{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify simpletags %}
{% block extrahead %}{{ block.super }}
    {{ media }}
{% endblock %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "layui/css/layui.css" %}" media="all">

    <style>
        .inputBox {
            width: 100%;
            box-sizing: border-box;
            padding: 0 30px;
            position: relative;
        }

        .inputBox p label {
            width: 100px;
            display: block;
            float: left;
            line-height: 30px;
        }

        .save {
            width: 80px;
            height: 30px;
            border-radius: 5px;
            text-align: center;
            line-height: 30px;
            margin: 0 auto;
            margin-top: 30px;
            cursor: pointer;
            background-color: rgb(215, 89, 76);
            color: #fff;
        }

        .outputBox {
            line-height: 30px;
            text-align: center;
            position: relative;
        }

        .exportBox {
            position: absolute;
            left: 380px;
            top: -30px;
            text-align: center;
        }

        .layui-table-cell.laytable-cell-group,
        .layui-table-header tr .layui-table-cell {
            font-weight: 700;
            position: center;
        }

        #table-data {
            width: 100%;
            height: 100%;
            position: center;

        }
    </style>
{% endblock %}

{% block content %}


    <table id="table-data"></table>
    {% if '_popup' not in request.GET %}
        <div id="output" class="outputBox"></div>
        <div class="inputBox">
            <div class="exportBox">
                <div class="save" id="export">数据导出</div>
            </div>
        </div>
    {% endif %}




    {% block object-tools %}
        {% if change %}{% if not is_popup %}
        {% endif %}{% endif %}
        {% csrf_token %}
    {% endblock %}



{% endblock %}

